
/*Overall styling for page*/
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 0;
    padding: 0px;
    width: 100%;
}

/*shared styling for hero and footer section*/
.hero-section, .footer {
    background-color: #1F2937;
    padding-bottom: 24px;
}

/*styling for hero section which includes the header*/

.header, .hero {
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25% 0% 25%;
}

/*styling for header links*/

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.right {
    display: flex;
    gap: 0px 12px;
}

/*styling for hero section content nesting*/

.left-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 500px;
    flex-shrink: 3;
}

.right-hero {
    flex-shrink: 1;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 105px;
}

.rectangle {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}

.quote {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    margin: 0 25% 0% 25%;

}


.cta {
    color: black;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25% 0% 25%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E5E7EB;
}

